<div class="graph">
  <div #graphContainer class="chart-container"></div>
  <div class="leyend">
    <div class="item">
      <div class="color" [style]="'background-color:' + COLOR_TYPES.ORANGE"></div>
      <div class="description">Persons</div>
    </div>
    <div class="item">
      <div class="color" [style]="'background-color:' + COLOR_TYPES.PURPLE"></div>
      <div class="description">Attributes</div>
    </div>
    <div class="item">
      <div class="color" [style]="'background-color:' + COLOR_TYPES.PINK"></div>
      <div class="description">Categories</div>
    </div>
  </div>
</div>
